<h2><a href="{% url 'create-person' %}">Create new person</a></h2>

{% for person in object_list %}
<p>
    <a href="{% url 'update-person' person.id %}">{{person}}</a> -
    <a href="{% url 'delete-person' person.id %}">Eliminar</a>
</p>
{% empty %}
    <b>There is not persons</b>
{% endfor %}
