<h2><a href="{% url 'create-movie' %}">Create new movie</a></h2>


{% for movie in object_list %}
    <p>
        <a href="{% url 'update-movie' movie.id %}">{{movie}}</a> -
        <a href="{% url 'delete-movie' movie.id %}">Eliminar</a>
    </p>

<b>Directors:</b>
{% for director in movie.directors.all %}
    <p>{{ director }}</p>
{% empty %}
    <p>There is not directors.</p>
{% endfor %}

<b>Productors:</b>
{% for producer in movie.producers.all %}
    <p>{{ producer }}</p>
{% empty %}
    <p>There is not producers.</p>
{% endfor %}

<b>Casting:</b>
{% for casting in movie.casting.all %}
    <p>{{ casting }}</p>
{% empty %}
    <p>There is not actors or actress.</p>
{% endfor %}

<hr/>
{% empty %}
    <b>There is not movies.</b>
{% endfor %}
